@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?swdmoq');
  src:  url('../fonts/icomoon.eot?swdmoq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?swdmoq') format('truetype'),
    url('../fonts/icomoon.woff?swdmoq') format('woff'),
    url('../fonts/icomoon.svg?swdmoq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-ban-circle:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-cog:before {
  content: "\e908";
}
.icon-comment:before {
  content: "\e909";
}
.icon-copyright-mark:before {
  content: "\e90a";
}
.icon-douban:before {
  content: "\e90b";
}
.icon-embed:before {
  content: "\e90c";
}
.icon-envelope:before {
  content: "\e90d";
}
.icon-exclamation-sign:before {
  content: "\e90e";
}
.icon-fb:before {
  content: "\e90f";
}
.icon-file-music:before {
  content: "\e910";
}
.icon-file:before {
  content: "\e911";
}
.icon-flash:before {
  content: "\e912";
}
.icon-fullscreen:before {
  content: "\e913";
}
.icon-gif:before {
  content: "\e914";
}
.icon-headphones:before {
  content: "\e915";
}
.icon-heart-empty:before {
  content: "\e916";
}
.icon-hold:before {
  content: "\e917";
}
.icon-instagram:before {
  content: "\e918";
}
.icon-invite:before {
  content: "\e919";
}
.icon-link:before {
  content: "\e91a";
}
.icon-lock:before {
  content: "\e91b";
}
.icon-map-marker:before {
  content: "\e91c";
}
.icon-menu-down:before {
  content: "\e91d";
}
.icon-menu-hamburger:before {
  content: "\e91e";
}
.icon-menu-left:before {
  content: "\e91f";
}
.icon-menu-right:before {
  content: "\e920";
}
.icon-menu-up:before {
  content: "\e921";
}
.icon-music:before {
  content: "\e922";
}
.icon-oftheday:before {
  content: "\e923";
}
.icon-ok-circle:before {
  content: "\e924";
}
.icon-ok:before {
  content: "\e925";
}
.icon-option-horizontal:before {
  content: "\e926";
}
.icon-option-vertical:before {
  content: "\e927";
}
.icon-packer:before {
  content: "\e928";
}
.icon-pause:before {
  content: "\e929";
}
.icon-pencil:before {
  content: "\e92a";
}
.icon-phone:before {
  content: "\e92b";
}
.icon-picture:before {
  content: "\e92c";
}
.icon-play:before {
  content: "\e92d";
}
.icon-playlist:before {
  content: "\e92e";
}
.icon-plus:before {
  content: "\e92f";
}
.icon-qq:before {
  content: "\e930";
}
.icon-qrcode:before {
  content: "\e931";
}
.icon-question-sign:before {
  content: "\e932";
}
.icon-quotation:before {
  content: "\e933";
}
.icon-radio:before {
  content: "\e934";
}
.icon-random:before {
  content: "\e935";
}
.icon-refresh:before {
  content: "\e936";
}
.icon-remove-circle:before {
  content: "\e937";
}
.icon-repeat-one:before {
  content: "\e938";
}
.icon-repeat:before {
  content: "\e939";
}
.icon-repost:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e93b";
  color: #666;
}
.icon-share:before {
  content: "\e93c";
}
.icon-shielding:before {
  content: "\e93d";
}
.icon-smile:before {
  content: "\e93e";
}
.icon-star-empty:before {
  content: "\e93f";
}
.icon-star:before {
  content: "\e940";
}
.icon-step-backward:before {
  content: "\e941";
}
.icon-step-forward:before {
  content: "\e942";
}
.icon-sv:before {
  content: "\e943";
}
.icon-tag:before {
  content: "\e944";
}
.icon-time:before {
  content: "\e945";
}
.icon-trash:before {
  content: "\e946";
}
.icon-triangle-down:before {
  content: "\e947";
}
.icon-triangle-up:before {
  content: "\e948";
}
.icon-trophy:before {
  content: "\e949";
}
.icon-twitter:before {
  content: "\e94a";
}
.icon-upload:before {
  content: "\e94b";
}
.icon-user:before {
  content: "\e94c";
}
.icon-volume-down:before {
  content: "\e94d";
}
.icon-volume-none:before {
  content: "\e94e";
}
.icon-volume-off:before {
  content: "\e94f";
}
.icon-volume-up:before {
  content: "\e950";
}
.icon-warning-sign:before {
  content: "\e951";
}
.icon-wechat:before {
  content: "\e952";
}
.icon-weibo:before {
  content: "\e953";
}
.icon-youtube:before {
  content: "\e954";
}
